HEROKU_APP_NAME: your_app_name
AMAZON_USERNAME_CODE: "Run bin/convert_login"
AMAZON_PASSWORD_CODE: "Run bin/convert_login"
KINDLE_DOMAIN: "amazon.co.jp"
FETCH_COUNT_LIMIT: "5"
ERROR_MAIL_TO: 'admin@example.com'
